@media (max-width: 750px) {
  body {
    font-size: 17px;
  }

  .hidden {
    display: block;
    padding: 10px 0;
  }

  .visible {
    display: none;
  }

  #grid-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }

  /* Side menu */
  .side-menu-bar {
    width: 100vw;
  }

  #header {
    background: #f7f7f7;
  }

  #header h1 {
    font-size: 40px;
  }

  #header .nav li a {
    font-size: 16px;
    margin-right: -14px;
  }

  #side-bar img {
    margin-left: 20px;
    margin-top: 40px;
  }

  #side-bar .social li a i {
    font-size: 20px;
  }

  #side-bar .side-buttons {
    margin-left: 30px;
  }

  #side-bar .side-buttons .read-more {
    display: block;
    width: 25%;
    margin-bottom: 20px;
  }

  #main-content {
    margin: 40px 1% 100px 1%;
  }

  /* About me */
  #about-me {
    margin: 40px 3% 100px 3%;
  }

  #about-me .about-me-img img {
    width: 100%;
  }

  .random-quote {
    margin-left: 5%;
  }

  #about-me .online-communities img {
    width: 100%;
  }

  /* Skills */
  #skills {
    margin: 40px 3% 100px 3%;
  }

  #skills .my-skills .skills-img img {
    margin-bottom: 20px;
    width: 100%;
  }

  #skills .certifications h3 {
    margin: 5% 0 5% 10px;
    font-size: 30px;
  }

  #skills .certifications a {
    color: #12b886;
  }

  /* Projects */
  #projects .revocafe-app,
  #projects .weather-app,
  #projects .covid-19 {
    margin: 40px 2% 20px 2%;
  }

  /* Images div */
  .images-div img {
    width: 25%;
  }

  .images-div img:hover {
    transform: scale(1.08);
  }

  /* Footer */
  footer h3 {
    text-align: center;
  }

  footer h4 {
    font-size: 24px;
  }

  footer p {
    font-size: 17px;
  }

  footer .side-line {
    display: flex;
    flex-wrap: wrap;
  }

  footer .right-side i {
    font-size: 18px;
  }

  footer .navigator {
    margin-left: 0;
  }

  footer .navigator .nav li a {
    font-size: 16px;
    margin-right: -14px;
  }
}

@media (max-width: 960px) {
  #side-bar .side-buttons .read-more {
    display: block;
    min-width: 25%;
    margin-bottom: 20px;
  }

  #side-bar .social {
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  footer .side-line {
    display: flex;
    flex-wrap: wrap;
  }
}
