.heading {
  background-image: linear-gradient(to right, #12b886, #099268);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-transform: capitalize; }

.box {
  box-shadow: 0 0.6rem 2rem #495057; }

.teal-link,
.teal-link:hover {
  font-size: 1.7rem;
  color: #0ca678;
  text-decoration: underline; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 660px) {
    html {
      font-size: 56.25%; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background-color: #eee; }

::selection {
  background-color: #099268;
  color: #fff; }

.about__heading {
  font-size: 2.8rem;
  margin-bottom: 2rem; }

.about__paragraph {
  font-size: 1.7rem; }

.about__link {
  color: #0ca678;
  text-decoration: none; }
  .about__link:hover {
    color: #0ca678; }

.about__photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6rem 0; }

.about__image {
  width: 50%;
  border-radius: 6px;
  border: 2px solid #0ca678;
  transition: all 0.6s;
  cursor: pointer; }
  .about__image:hover {
    transform: scale(1.07); }

.journey__heading {
  font-size: 2.6rem;
  margin-bottom: 1rem; }

.journey__paragraph {
  font-size: 1.7rem; }
  .journey__paragraph:last-of-type {
    margin-bottom: 3rem; }

.journey__secondary {
  font-size: 2.2rem;
  margin-bottom: 2rem; }

.journey__photo {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem; }

.journey__image {
  width: 100%; }

.community__heading {
  font-size: 2.8rem;
  margin-bottom: 4rem; }

.community__list {
  list-style: none; }

.community__item {
  margin-bottom: 2rem; }

.community__image {
  width: 20%;
  height: 20%;
  border-radius: 50%; }
  @media only screen and (max-width: 660px) {
    .community__image {
      width: 10rem;
      height: 10rem; } }

.community__secondary {
  font-size: 2.2rem;
  color: #0ca678;
  margin: 2rem 0 1rem 0; }

.community__paragraph {
  font-size: 1.7rem; }

.btn {
  background-color: #12b886;
  font-size: 1.7rem;
  border-radius: 100px;
  padding: 1rem 2rem;
  border: none; }
  .btn:not(:last-child) {
    margin-right: 2rem; }
  @media only screen and (max-width: 970px) {
    .btn {
      padding: 0.6rem 1.4rem;
      font-size: 1.5rem; } }
  @media only screen and (max-width: 830px) {
    .btn {
      width: 60%; }
      .btn:not(:last-child) {
        margin-right: 0; } }
  @media only screen and (max-width: 660px) {
    .btn {
      width: 25%; } }
  @media only screen and (max-width: 415px) {
    .btn {
      width: 100%; } }
  .btn:hover {
    box-shadow: 0 0.4rem 1.6rem #495057;
    background-color: #12b886;
    outline: none; }

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10rem; }
  @media only screen and (max-width: 830px) {
    .container {
      grid-gap: 2rem; } }
  @media only screen and (max-width: 660px) {
    .container {
      display: block; } }

@media only screen and (max-width: 660px) {
  .info {
    margin-bottom: 4rem; } }

.info__heading {
  font-size: 2.4rem;
  margin-bottom: 2rem; }

.info__paragraph {
  font-size: 1.7rem; }

.social__heading {
  font-size: 2.4rem;
  margin-bottom: 1rem; }

.social .nav-item {
  font-size: 1.5rem; }

.social .nav-link {
  color: #0ca678;
  transition: all 0.4s; }
  .social .nav-link:hover {
    transform: scale(1.11); }

.navigator {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .navigator__heading {
    font-size: 2.6rem; }
  .navigator__nav {
    margin-left: -1rem; }
  .navigator__item {
    text-transform: uppercase; }

.legal-text {
  margin: 6rem 0 2rem 0; }
  .legal-text__paragraph {
    font-size: 1.7rem; }
  .legal-text__link {
    text-decoration: none;
    color: #0ca678; }
    .legal-text__link:hover {
      text-decoration: underline;
      color: #0ca678; }

.hero__photo {
  margin-bottom: 3rem; }

.hero__img {
  width: 100%; }

.hero__heading {
  font-size: 2.8rem;
  margin-bottom: 2rem; }

.hero__paragraph {
  font-size: 1.7rem; }

.hero__quote {
  background-color: #dee2e6;
  margin: 8rem 0 8rem 40rem;
  padding: 1.3rem;
  border-radius: 5px;
  font-size: 1.7rem;
  border-left: 0.7rem solid #495057; }
  @media only screen and (max-width: 1100px) {
    .hero__quote {
      margin-left: 25rem; } }
  @media only screen and (max-width: 970px) {
    .hero__quote {
      margin-left: 20rem; } }
  @media only screen and (max-width: 830px) {
    .hero__quote {
      margin-left: 0; } }

.images {
  margin: 10rem 0;
  padding: 2rem;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 660px) {
    .images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem; } }
  .images__img {
    width: 15%;
    height: 15%;
    border-radius: 5px;
    transition: all 0.7s; }
    @media only screen and (max-width: 660px) {
      .images__img {
        width: 100%;
        height: 100%; } }
    .images__img:hover {
      transform: scale(1.11); }

.projects__heading {
  font-size: 3rem;
  margin-bottom: 4rem; }

.projects > * {
  padding: 2rem;
  border-radius: 7px;
  background-color: #fff; }

.revocafeapp__photo {
  margin-bottom: 3rem; }

.revocafeapp__image {
  width: 100%; }

.revocafeapp__heading {
  font-size: 2.8rem;
  margin-bottom: 2rem; }

.revocafeapp__paragraph {
  font-size: 1.7rem; }

.revocafeapp__tech {
  color: #0ca678; }

.revocafeapp__link {
  margin-top: 2rem; }

.revocafeapp__item:not(:last-child) {
  margin-right: 1.3rem; }

.weather {
  margin-top: 3rem; }
  .weather__photo {
    margin-bottom: 2rem; }
  .weather__image {
    width: 100%; }
  .weather__heading {
    font-size: 2.7rem;
    margin-bottom: 3rem; }
  .weather__paragraph {
    font-size: 1.7rem; }
  .weather__tech {
    color: #0ca678; }
  .weather__link {
    margin-top: 2rem; }
  .weather__item:not(:last-child) {
    margin-right: 1.3rem; }

.traveline {
  margin-top: 3rem; }
  .traveline__photo {
    margin-bottom: 3rem; }
  .traveline__image {
    width: 100%; }
  .traveline__heading {
    margin-bottom: 3rem;
    font-size: 2.8rem; }
  .traveline__paragraph {
    font-size: 1.7rem; }
  .traveline__tech {
    color: #0ca678; }
  .traveline__item:not(:last-child) {
    margin-right: 1.3rem; }

.quote-title {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.4rem; }

.revocafe__photo {
  margin-bottom: 4rem; }

.revocafe__img {
  width: 100%; }

.revocafe__heading {
  font-size: 2.8rem;
  margin-bottom: 2rem; }

.revocafe__paragraph {
  font-size: 1.7rem; }
  .revocafe__paragraph--tech {
    color: #0ca678; }

.revocafe__link a:not(:last-child) {
  margin-right: 1.5rem; }

.sidebar {
  background-color: #f7f7f7;
  min-height: 200px;
  flex: 0 0 30%;
  padding: 2rem; }
  .sidebar__header {
    margin-top: 1.7rem;
    margin-bottom: 2.4rem; }
  .sidebar__heading {
    display: inline-block;
    font-weight: 600;
    font-size: 3.5rem; }
  .sidebar__line {
    background-color: #ced4da;
    height: 1px;
    width: 60%; }
  .sidebar__paragraph {
    font-size: 1.8rem;
    margin: 2.4rem 0; }
  .sidebar__nav {
    margin-top: 4rem; }
  .sidebar__item {
    text-transform: uppercase;
    font-size: 1.5rem; }
    @media only screen and (max-width: 1100px) {
      .sidebar__item:not(:last-child) {
        margin-right: -1rem; } }
    @media only screen and (max-width: 660px) {
      .sidebar__item:not(:last-child) {
        margin-right: 1.6rem; } }
    @media only screen and (max-width: 480px) {
      .sidebar__item:not(:last-child) {
        margin-right: -0.2rem; } }
  .sidebar__link {
    color: #12b886;
    transition: all 0.7s; }
    .sidebar__link:hover {
      color: #12b886;
      transform: scale(1.11); }
  .sidebar__profile {
    margin-top: 4rem;
    margin-bottom: 3rem; }
  .sidebar__photo {
    width: 20rem;
    height: 20rem;
    border-radius: 50%; }
  .sidebar__icon {
    color: #12b886;
    font-size: 1.7rem;
    transition: all 1s; }
    .sidebar__icon:not(:last-child) {
      margin-right: 1.8rem; }
    .sidebar__icon:hover {
      color: #099268;
      transform: scale(1.11); }
  .sidebar__buttons {
    margin: 3rem 0; }
    @media only screen and (max-width: 830px) {
      .sidebar__buttons {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center; } }
    @media only screen and (max-width: 660px) {
      .sidebar__buttons {
        flex-direction: row; } }

.skills__heading {
  font-size: 2.9rem;
  margin-bottom: 3rem; }

.skills__secondary {
  font-size: 2rem;
  font-weight: 600; }

.skills__paragraph {
  font-size: 1.7rem; }

.skills__link {
  color: #0ca678;
  text-decoration: none; }
  .skills__link:hover {
    color: #099268; }

.skills__photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0; }

.skills__image {
  width: 60%;
  border-radius: 8px;
  transition: all 0.4s; }
  @media only screen and (max-width: 660px) {
    .skills__image {
      width: 100%; } }
  .skills__image:hover {
    transform: scale(1.08); }

.certification {
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 7px;
  background-color: #f7f7f7; }
  .certification__heading {
    font-size: 2.8rem;
    margin-bottom: 2rem; }
  .certification__list {
    list-style: none; }
  .certification__icon {
    margin-right: 0.8rem;
    color: #099268; }
  .certification__item {
    font-size: 1.7rem; }
    .certification__item:not(:last-child) {
      margin-bottom: 1rem; }
  .certification__link {
    color: #495057;
    text-decoration: none; }

.team__heading {
  font-size: 2.8rem;
  margin-bottom: 5rem; }

.team__details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.team__photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem; }

.team__image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%; }

.team__name {
  font-size: 2.4rem;
  margin-bottom: 2rem; }

.team__paragraph {
  font-size: 1.7rem;
  text-align: center;
  width: 60%; }
  .team__paragraph:last-of-type {
    margin-bottom: 4rem; }

.team__website {
  font-size: 1.7rem;
  margin-bottom: 3rem;
  color: #0ca678;
  text-decoration: none; }
  .team__website:hover {
    box-shadow: 0 0.3rem 0.6rem #495057;
    color: #fff;
    background-color: #099268;
    border: 0.1rem solid #099268;
    border-radius: 0.7rem;
    padding: 0.8rem 1.2rem; }

.container-div {
  display: flex; }
  @media only screen and (max-width: 660px) {
    .container-div {
      flex-direction: column-reverse; } }

.main-content {
  flex: 1;
  padding: 3rem 5rem; }
  .main-content > * {
    margin-top: 4rem;
    padding: 2rem;
    border-radius: 7px;
    background-color: #f7f7f7; }
    .main-content > *:not(:last-child) {
      margin-bottom: 8rem; }
  @media only screen and (max-width: 480px) {
    .main-content {
      padding: 4rem 2rem; } }

.desktop {
  display: block; }
  @media only screen and (max-width: 660px) {
    .desktop {
      display: none; } }

.mobile {
  display: none; }
  @media only screen and (max-width: 660px) {
    .mobile {
      display: block;
      background-color: #f7f7f7;
      padding: 2rem; } }
