.heading {
  background-image: linear-gradient(
    to right,
    $color-primary-1,
    $color-primary-3
  );
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-transform: capitalize;
}

.box {
  box-shadow: 0 0.6rem 2rem $color-grey-4;
}

.teal-link,
.teal-link:hover {
  font-size: $default-font-size;
  color: $color-primary-2;
  text-decoration: underline;
}
