// COLORS
$color-primary: #20c997;
$color-primary-1: #12b886;
$color-primary-2: #0ca678;
$color-primary-3: #099268;

$color-grey-1: #eee;
$color-grey-2: #f7f7f7;
$color-grey-3: #ced4da;
$color-grey-4: #495057;
$color-grey-5: #444;

// BREAKPOINTS
$bp-largest: 62em;
$bp-large: 50em;
$bp-medium: 44em;
$bp-small: 37.5em;
$bp-smallest: 29em;
