.about {
  &__title {
    padding-top: 1.8rem;
    font-size: 3.2rem;
    margin-bottom: 1.2rem;
    text-transform: capitalize;
  }

  &__text {
    font-size: 1.8rem;
    line-height: 1.6;

    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }

  &__img {
    display: block;
    max-width: 40rem;
    margin: 3.2rem auto 0 auto;
    border-radius: 4px;
  }

  &__contribution {
    font-size: 2.6rem;
    margin-bottom: 1.6rem;
    margin-top: 3.2rem;
  }

  &__img--contribution {
    width: 100%;
  }
}

.community {
  &__title {
    font-size: 3.2rem;
    margin-bottom: 1.6rem;
  }

  &__img {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    margin-top: 2.4rem;
    margin-bottom: 1.4rem;
  }

  &__name {
    font-size: 2.4rem;
    margin-bottom: 0.8rem;
    color: $color-primary-1;
  }

  &__text {
    font-size: 1.8rem;
    line-height: 1.6;
  }
}
