.projects {
  &__heading {
    font-size: 3rem;
    margin-bottom: 4rem;
  }

  & > * {
    padding: 2rem;
    border-radius: 7px;
    background-color: #fff;
  }
}

.revocafeapp {
  &__photo {
    margin-bottom: 3rem;
  }

  &__image {
    width: 100%;
  }

  &__heading {
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }

  &__paragraph {
    font-size: $default-font-size;
  }

  &__tech {
    color: $color-primary-2;
  }

  &__link {
    margin-top: 2rem;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 1.3rem;
    }
  }
}

.weather {
  margin-top: 3rem;

  &__photo {
    margin-bottom: 2rem;
  }

  &__image {
    width: 100%;
  }

  &__heading {
    font-size: 2.7rem;
    margin-bottom: 3rem;
  }

  &__paragraph {
    font-size: $default-font-size;
  }

  &__tech {
    color: $color-primary-2;
  }

  &__link {
    margin-top: 2rem;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 1.3rem;
    }
  }
}

.traveline {
  margin-top: 3rem;

  &__photo {
    margin-bottom: 3rem;
  }

  &__image {
    width: 100%;
  }

  &__heading {
    margin-bottom: 3rem;
    font-size: 2.8rem;
  }

  &__paragraph {
    font-size: $default-font-size;
  }

  &__tech {
    color: $color-primary-2;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 1.3rem;
    }
  }
}
