.sidebar {
  background-color: $color-grey-2;
  min-height: 200px;
  flex: 0 0 30%;
  padding: 2rem;

  &__header {
    margin-top: 1.7rem;
    margin-bottom: 2.4rem;
  }

  &__heading {
    display: inline-block;
    font-weight: 600;
    font-size: 3.5rem;
  }

  &__line {
    background-color: $color-grey-3;
    height: 1px;
    width: 60%;
  }

  &__paragraph {
    font-size: 1.8rem;
    margin: 2.4rem 0;
  }

  &__nav {
    margin-top: 4rem;
  }

  &__item {
    text-transform: uppercase;
    font-size: 1.5rem;

    @media only screen and (max-width: $bp-largest) {
      &:not(:last-child) {
        margin-right: -1rem;
      }
    }

    @media only screen and (max-width: $bp-small) {
      &:not(:last-child) {
        margin-right: 1.6rem;
      }
    }

    @media only screen and (max-width: $bp-smallest) {
      &:not(:last-child) {
        margin-right: -0.2rem;
      }
    }
  }

  &__link {
    color: $color-primary-1;
    transition: all 0.7s;

    &:hover {
      color: $color-primary-1;
      transform: scale(1.11);
    }
  }

  &__profile {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }

  &__photo {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
  }

  &__icon {
    color: $color-primary-1;
    font-size: $default-font-size;
    transition: all 1s;

    &:not(:last-child) {
      margin-right: 1.8rem;
    }

    &:hover {
      color: $color-primary-3;
      transform: scale(1.11);
    }
  }

  &__buttons {
    margin: 3rem 0;

    @media only screen and (max-width: $bp-medium) {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
    }

    @media only screen and (max-width: $bp-small) {
      flex-direction: row;
    }
  }
}
