.skills {
  &__container {
    background-color: #fff;
  }

  &__title {
    font-size: 3.2rem;
    margin-bottom: 2rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0.8rem 1.4rem;
    border-top: 1px solid #ccc;
  }

  &__name {
    font-size: 2rem;
  }

  &__icon {
    font-size: 2rem;
  }

  &__body {
    padding: 1rem 1.4rem;
  }

  &__text {
    font-size: 1.8rem;
    line-height: 1.6;
    margin-bottom: 1.2rem;
  }
}

.certification {
  &__title {
    font-size: 3.2rem;
    margin-bottom: 1.4rem;
  }

  &__list {
    list-style: none;
  }

  &__item {
    color: $color-primary-2;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }
  }

  &__icon {
    display: inline-block;
  }

  &__link:link,
  &__link:visited {
    display: inline-block;
    text-decoration: none;
    color: $color-grey-4;

    &:active,
    &:hover {
      color: inherit;
    }
  }
}

.connection {
  &__title {
    font-size: 3.2rem;
    margin-bottom: 2.4rem;
  }

  &__slider {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    height: 30rem;
    transition: all 0.4s;

    overflow: hidden;

    @media only screen and (max-width: $bp-largest) {
      height: 32rem;
    }
  }

  &__img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
  }

  &__name {
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
    margin-top: 1.4rem;
  }

  &__text {
    margin-bottom: 0.8rem;
    font-size: 1.8rem;
    line-height: 1.6;
    text-align: center;
  }

  &__link:link,
  &__link:visited {
    color: $color-grey-4;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    padding: 0.8rem 2.4rem;
    border-radius: 4px;
    transition: all 0.3s;

    &:hover,
    &:active {
      background-color: $color-primary-1;
      color: #fff;
    }
  }
}
