* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  background-color: $color-grey-1;
  color: $color-grey-5;
}

::selection {
  background-color: $color-primary-3;
  color: #fff;
}
